@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}

:root {
  --swiper-navigation-size: 16px; /* To edit the size of the arrows */
  --swiper-navigation-color: rgb(
    238,
    68,
    68
  ); /* To edit the color of the arrows */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.swiper-button-prev {
  color: red;
}
.MuiInput-input {
  backgroundcolor: red;
}
@font-face {
  font-family: "Pirulen";
  src: url("../../public/font/pirulenrg.otf");
}

@font-face {
  font-family: "BaiBold";
  src: url("../../public/font/BaiJamjuree-Bold.ttf");
}
@font-face {
  font-family: "BaiMedium";
  src: url("../../public/font/BaiJamjuree-Medium.ttf");
}
@font-face {
  font-family: "BaiLight";
  src: url("../../public/font/BaiJamjuree-Light.ttf");
}
@font-face {
  font-family: "Orbitron";
  src: url("../../public/font/Orbitron-SemiBold.ttf");
}
@font-face {
  font-family: "OrbitronMedium";
  src: url("../../public/font/Orbitron-Medium.ttf");
}
@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-4 h-4 mx-1 mt-2 bg-red-600 rounded-full;
}
.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
